<h1>Edit the task using the form below.</h1>

<div class="col-md-4">
  <form method="post">
    <input type="hidden" id="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="task[name]" class="form-control" placeholder="Task name" require value="<%=@task.name%>">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="textarea" id="description" name="task[description]" class="form-control" placeholder="Enter a description of the task..." value="<%=@task.description%>">
      </div>
    <label for="completed">Done?</label>
    <input type="checkbox" id="completed" name="completed" <%= @task.completed ? 'checked' : ""  %>>
    <button type="submit" class="btn btn-primary">Edit Task</button>
  </form>
</div>
<br>
<a href="/events/<%=@task.event.id%>/tasks" role="button" class="btn btn-light">Return to this event's tasks</a>
