<h1>Create a new task for <%= @event.name %></h1>

<div class="col-md-4">
<form method="post" action="/events/<%=@event.id%>/tasks">
  <div class="form-group">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="task[name]" class="form-control" placeholder="Task name" require title="Name of task">
  </div>
  <div class="form-group">
    <label for="description">Description</label><br>
    <textarea rows="4" cols="50" id="description" wrap="hard" name="task[description]" class="form-control" placeholder="Enter a description of the task..."></textarea>
  </div>
  <label for="completed">Already Done?</label>
  <input type="checkbox" id="completed" name="completed">
  <button type="submit" class="btn btn-primary">Create Task</button>
</form>
</div>
<br>
<a href="/events/<%=@event.id%>/tasks" role="button" class="btn btn-light">Return to this event's tasks</a>
