<h1>We are excited to have you join us! Please complete the registration below.</h1>

<form method="post" action="/signup">
  <label for="email">E-mail:</label><br>
  <input type="email" id="email" name="email" placeholder="Optional"><br>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required title="A username is required to register."><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required title="A password is required to register.">
  <br></br>
  <input type="submit" value="Register">
</form>
