<h1>Your Events</h1>

<% if !@user.events.empty? %>
  <%@user.events.each do |event|%>
    <h3><%= event.name %> - <%= event.description %></h3>
  <% end %>
<% else %>
  <h3>You don't have any events yet. Try adding some!</h3>
<% end %>
