<h1>Your Events</h1>

<% if !@user.events.empty? %>
  <%@user.events.each do |event|%>
    <%= event.name %>
    <p><%= event.description %></p>
  <% end %>
<% else %>
  <h3>You don't have any events yet. Try adding some!</h3>
<% end %>
