<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Explore the events of your fellow photographers!</h1>

<% Event.all.each do |event| %>
  <h3><a href="/events/<%=event.id%>"><%= event.name %></a></h3>
  <%= event.description %>
<% end %>
