<h1>Create a new event</h1>

<form method="post" action="/events">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="event[name]" require title="Name of Event">
  <br></br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="event[description]">
  <br></br>
  <input type="submit" value="Create Event">
</form>
