<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @event.name%><h1>
<h3><%= @event.description %></h3>

<% if Helpers.current_user(session).id.equal?(@event.user.id)%>
  <form method="post" action="/events/<%=@event.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event">
  </form>
<% end %>
