<div class='jumbotron text-center'>
    <h1>Welcome to EvAssist</h1>
</div>
<div class='text-center'>
    <h2>Your go-to catalog application for photography events and tasks, designed for professional photographers like you!</h2>
</div>
<div class='btn-group-lg text-center'>
    <a href="/login" role="button" aria-pressed="true" class="btn btn-secondary btn-lg active mr-3">Sign In</a>
    <a href="/signup" role="button" aria-pressed="true" class="btn btn-secondary btn-lg active">Register</a>
</div>
<div class='row pt-2'>
    <div class='col-sm-4'><img src='images/index-img1.jpg' class='img-fluid'></div>
    <div class='col-sm-4 float'><img src='images/index-img2.jpg' class='img-fluid'></div>
    <div class='col-md-4'><img src='images/index-img3.jpg' class='img-fluid'></div>
</div>