<h1>Welcome to EvAssist</h1>

<h2>Your go-to catalog application for photography events and tasks, designed for professional photographers like you!</h2>

<p>Please <a href="/login">sign in</a> or <a href=/signup>register</a> to get started.</p>
